JWT_SECRET=
PORT=5000
MONGODB_URL=
MQTT_PORT=8883
MQTT_USERNAME=
MQTT_PASSWORD=
HIVEMQ_URL=
LOCAL_URL=mqtts.hydr-a.local
MAILTRAP_URL=smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
HYDRA_EMAIL="HYDR·A <noreply@hydr-a.com.ph>"
HYDRA_URL=http://localhost:3000